body{
    font-family: "Montserrat";
}
#title{
    background-color:#379237;
    color:#F7F7F7;
}
h1 {
    font-family: "Montserrat";
    font-weight:900;
    font-size: 3rem;
    line-height: 1.5;
}
.container-fluid{
    padding: 3% 15%;
}
/* Navigation Bar */
.navbar{
    padding: 0 0 4.5rem;

}
.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-item{
    padding:0 18px;
}
.nav-link{
    font-size: 1.2rem;
}
.download-button{
    margin: 5% 3% 5% 0;
}
.weedphoto{
    width:85%;
    margin-left:82px;
    margin-bottom: 35px;
}

#features{
    padding:7% 15%;
}
h2{
    font-family: "Montserrat";
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0;

}
h3{
    font-weight: 900;
}
p{
    color:#8f8f8f;
}
.solo-row{
    text-align: center;
    padding: 5%;
}
.icon-1{
    margin-bottom: 1rem;
}
.icon-2{
    color:#379237;
    margin-bottom: 1rem;
}
.icon-3{
    color:#FF7000;
    margin-bottom: 1rem;
}
.icon-1:hover{
    color:#379237;
    transition: color 0.25s;
}
.icon-2:hover{
    color:gray;
    transition: color 0.25s;
}
.icon-3:hover{
    color:pink;
    transition: color 0.25s;
}
#testimonials{
    
    text-align: center;
    background-color:#54B435 ;
    color: whitesmoke;
}
.weed-wallpaper{
    width: 75%;
    border-radius:100%;
    margin:20px;
}
.snoopdogg{
    color:#fff;
    font-family: "Ubuntu";
    font-weight: 400;
    font-size: 30px;
}

.joint-logo{
    width:15%;
}
.carousel-item{
    padding: 7% 15%;

}
.carousel-item active{
    padding-top: 25;
    padding-bottom: 5;
}
.kahavate{
    padding: 0;
    margin-bottom: 0;
}
.snoopdogg-wallpaper{
    width:65%;
    border-radius: 100%;
}
